<div class="row my-3">
  <div class="col-6">
    <div class="input-group">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        [(ngModel)]="postName"
      />
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="handleFindPostName()"
      >
        Rechercher
      </button>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-9">
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="categorySelected"
        >
          <option selected>All categories</option>
          <option *ngFor="let category of categories" [ngValue]="category">
            {{ category.Name }}
          </option>
        </select>
      </div>
      <div class="col-3">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="handleFilterByCategory()"
        >
          Filtrer
        </button>
      </div>
    </div>
  </div>
</div>
